.wrapper {
    padding: 10px;
}

.wrap-head {
    position: relative;
    height: 34px;
    margin-bottom: 8px;
}

.wrap-head .loc {
    height: 34px;
    padding-left: 30px;
    background: url("../../resources/images/icon-loc.png") no-repeat 0 1px;
    line-height: 34px;
    color: #84d8ff;
    font-size: 14px;
}

.wrap-head .loc span {
    cursor: pointer;
}

.wrap-head .condition {
    position: absolute;
    top: 0;
    right: 0;
}

.account-month {
    height: 34px;
    border: 1px solid #3c78da;
    background-color: #2d5aa5;
}

.account-month-title {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
}

.account-month-select {
    width: 168px;
    border-left: 1px solid #3c78da;
}

.channel-type {
    height: 34px;
    margin-left: 10px;
    border: 1px solid #3c78da;
    background-color: #2d5aa5;
}

.channel-type-title {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
}

.channel-type-select {
    width: 168px;
    border-left: 1px solid #3c78da;
}

.checked-city {
    height: 34px;
    margin-left: 10px;
    border: 1px solid #3c78da;
    background-color: #2d5aa5;
}

.checked-city-title {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
}

.checked-city-select {
    width: 168px;
    border-left: 1px solid #3c78da;
}

.wrap-content {
    margin-bottom: 10px;
}

.wrap-content:last-of-type {
    margin-bottom: 0;
}

.wrap-l {
    width: 604px;
}

.wrap-l-box {
    width: 100%;
    height: 215px;
    margin-bottom: 10px;
}

.wrap-l-box:last-of-type {
    margin-bottom: 0;
}

.title {
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 0 5px #8ce9dd;
    text-align: center;
}

.wrap-l-chart {
    width: 100%;
    height: 160px;
}

.wrap-r {
    width: 710px;
    height: 665px;
}

.rank-thead {
    display: table;
    width: 100%;
    height: 42px;
    background-color: rgba(107, 119, 190, 0.46);
}

.rank-th {
    display: table-row;
    height: 42px;
    border-bottom: 1px dotted #5263a4;
}

.rank-th-td {
    display: table-cell;
    padding: 0 10px;
    line-height: 16px;
    color: #99ffee;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.top-rank-result {
    width: 100%;
    height: 602px;
}

.result-list {
    position: relative;
    width: 100%;
    height: 600px;
}

.rank-tbody {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.rank-tr {
    display: table-row;
    height: 30px;
    border-bottom: 1px dotted #5263a4;
}

.rank-tr:nth-child(even) {
    background-color: rgba(8, 23, 61, 0.24);
}

.rank-tr-td {
    display: table-cell;
    color: #99ffee;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.sale-shop-chart {
    height: 280px;
}
.wrap-rgt-box{
    width: 710px;
    height: 215px;
}
