.wrapper {
    height: 100%;
    padding: 10px;
}

.header {
    height: 30px;
    line-height: 30px;
    margin: 4px 0 10px 0;
}

.header .wrds {
    font-size: 14px;
    color: #84d8ff;
    cursor: pointer;
}

.header .wrds:hover span {
    color: #73c2e6;
}

.header .wrds span {
    margin: 0 5px;
}

.search-condition {
    margin-top: -4px;
}

.account-month {
    height: 34px;
    line-height: 32px;
    margin-right: 8px;
    border: 1px solid #3c78da;
}

.account-month-title {
    padding: 0 10px;
    font-size: 14px;
    background-color: #2d5aa5;
    border-right: 1px solid #3c78da;
    color: #fff;
}

.cnt-top {
    margin-bottom: 10px;
}

.info-list {
    width: 252px;
    height: 650px;
    margin-right: 10px;
    padding: 10px 20px;
}

.info-list .p-line {
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    text-align: left;
}

.info-list .div-line span {

}

.info-list .div-line textarea {
    width: 170px;
    background: none;
    resize: none;
    border: 0;
}

.list-right {
    height: 654px;
}

.card {
    position: relative;
    /*text-align: center;*/
}

.card .title {
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 16px;
    text-shadow: 0 0 5px #8ce9dd;
    text-align: center;
}
.list-right .ul-one-line {
    margin: 0 0 10px 0;
}

.list-right .ul-one-line li {
    width: 522px;
    height: 210px;
    margin-right: 10px;
}

.list-right .ul-one-line li:last-child {
    margin-right: 0;
}

.list-right-bottom {
    width: 100%;
    height: 210px;
}

.ul-two-line li {
    position: relative;
    width: 434px;
    height: 336px;
    margin-right: 8px;
}

.ul-two-line .chart-one {
    height: 278px;
}

.ul-two-line li:last-child {
    margin-right: 0;
}

.ul-two-line {
    margin-bottom: 8px;
}

.ng-city-check span {
    top: 0;
}

.ng-select-box span {
    top: 0;
}

.chart-one {
    height: 154px;
}

.ul-two-line li .legend {
    position: absolute;
    top: 80px;
    right: 96px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.rank-thead {
    display: table;
    width: 100%;
    height: 32px;
    background-color: rgba(107, 119, 190, 0.46);
}

.rank-th {
    display: table-row;
    border-bottom: 1px dotted #6a7dbc;
}

.rank-th-td {
    display: table-cell;
    line-height: 16px;
    color: #99ffee;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.top-rank-result {
    width: 100%;
    height: 241px;
    overflow: hidden;
}

.result-list {
    position: relative;
    width: 100%;
    height: 241px;
}

.rank-tbody {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.rank-tr {
    display: table-row;
    height: 48px;
    border-bottom: 1px dotted #6a7dbc;
}

.rank-tr:nth-child(odd) {
    background-color: rgba(8, 23, 61, 0.24);
}

.rank-tr-td {
    display: table-cell;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

.store-search {
    height: 32px;
    font-size: 0;
    background-color: #2d5aa5;
}

.store-search input {
    width: 158px;
    padding: 0 10px;
    border: 0;
    font-size: 14px;
    color: #fff;
    margin: -10px 0 0 0;
    background: none;
}

.store-search input::placeholder {
    color: #fff;
}

.store-search-btn {
    width: 33px;
    height: 32px;
    border: 0;
    border-left: 1px solid #3c78da;
    font-size: 16px;
    line-height: 30px;
    background: none;
}

.none-img {
    display: block;
    margin: 34px auto;
}

.ul-two-line .none-img {
    margin-top: 96px;
}

/*弹窗*/
.modal.in .modal-dialog {
    width: 810px;
    border: 1px solid #3c77d8;
    /*background: #243e76;*/
    background: url("../../resources/images/bg-repeat.png") repeat;
    border-radius: 0;
}

.modal-content {
    background: url("../../resources/images/bg-repeat.png") repeat;
}

.modal-header {
    height: 42px;
    padding: 0;
    border-bottom: 1px solid #3c77d8;
    background: url("../../resources/images/bg-repeat2.png") repeat;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 42px;
    color: #fff;
    opacity: 1;
}

.modal-title {
    line-height: 42px;
}

.depot-query-box {
    padding: 12px 28px 15px;
}

.result-table {
    padding: 0 28px;
}

.btn-query {
    width: 100px;
    height: 32px;
    border: 0;
    background: #243e76;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
}

.account-month-select input {
    width: 210px;
    height: 32px;
    padding: 0 10px;
    border: 0;
    background: none;
}

.depot-query-box .account-month {
    margin-right: 18px;
    background: #243e76;
    font-size: 16px;
}

.depot-query-box .account-month-title {
    width: 94px;
    padding: 0;
    text-align: center;
}

.depot-query-box .account-month:last-child {
    margin-right: 0;
}

.table {
    border: 1px solid #3c77d8;
    margin-bottom: 12px;
}

.table tr {
    height: 32px;
    border-bottom: 1px solid #3c77d8;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.table thead tr {
    height: 36px;
    background: rgba(73, 98, 166, 0.9);
    color: #99ffee;
    font-size: 16px;
}

.table > thead > tr > th, .table > tbody > tr > td {
    border-bottom: 1px dashed #697bb9;
}

.table thead tr th, .table tbody tr td {
    text-align: center;
    border-bottom: 1px dashed #697bb9;
}

.table tbody tr:nth-of-type(odd) {
    background: rgba(28, 50, 101, 0.66);
}

.table tbody tr:hover {
    background: rgba(57, 154, 186, 0.8);
}

.table tbody tr.hover {
    background: rgba(57, 154, 186, 0.8);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0;
}

.modal-footer {
    height: 66px;
    margin-top: 12px;
    border-top: 1px solid #3050a0;
    background: url("../../resources/images/bg-repeat2.png") repeat;
    padding: 0;
    text-align: center;
}

.modal-footer .btn {
    width: 100px;
    height: 36px;
    padding: 0;
    margin-top: 16px;
    border-radius: 0;
}

.modal-footer .btn-submit {
    background: #38d8d4;
    border: 1px solid #38d8d4;
    color: #333;
}

.modal-footer .btn-cancel {
    background: #2d5aa5;
    border: 1px solid #3050a0;
    color: #fff;
}

.nocheck {
    display: block;
    width: 19px;
    height: 19px;
    margin: auto;
    background: url("../../resources/images/icon-nocheck.png") no-repeat;
}

.checked {
    background: url("../../resources/images/icon-checked.png") no-repeat;
}
/*弹窗*/
